
  
.navdisplay a {
  margin-right: 30px;
  font-size: 1.04em;
  font-weight: 600;
  margin-top: 3px;
  color: rgb(17, 17, 17);
  border: none;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.navdisplay a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px; 
  background-color: rgb(255, 208, 0);
  left: 0;
  bottom: -3px;
  transition: width 0.3s ease-in-out; 
}
.navdisplay a:hover{
  color: rgb(255, 208, 0);
}

.navdisplay a:hover::after {
  width: 100%; 

}
.navdisplay .active {
  color: rgb(255, 208, 0); 
  text-decoration: underline;
  font-weight: bold;
  text-underline-offset: 13px;
  text-decoration-thickness: 3px;
  
}

.navdisplay{
  margin: auto;
}
