/* Global styles */
body {
    background-color: #f0f0f0; /* Light grey for better contrast */
  }
  
  .sidebar {
    background-color: rgb(255, 208, 0);
    padding: 20px;
    border-radius: 5px;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .summary-item p {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .summary-item hr {
    margin: 10px 0;
  }
  
  .checkout-btn {
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .checkout-btn:hover {
    background-color: #444;
  }
  .quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
  }
  
  .quantity-btn {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .quantity-btn:hover {
    background-color:red;
  }
  
  .quantity-controls span {
    min-width: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  